NODE_ENV=development
PORT=3100
DATABASE_URL=REPLACE_WITH_DEVELOPMENT_DATABASE_URL
JWT_PUBLIC_KEY=REPLACE_WITH_DEVELOPMENT_JWT_PUBLIC_KEY
JWT_PRIVATE_KEY=REPLACE_WITH_DEVELOPMENT_JWT_PRIVATE_KEY
REDIS_URL=REPLACE_WITH_DEVELOPMENT_REDIS_URL
PAYMENT_PROVIDER_API_KEY=REPLACE_WITH_DEVELOPMENT_PAYMENT_KEY
LOG_LEVEL=debug
